body {
	width: 80%;
	margin: 2em auto;
	background-color: #D4DCE1;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 350;
	font-size: 12px;
	letter-spacing: .05em;
}

img {
	box-sizing: border-box;
	margin-left: 32%
}

h1 {
	text-align: center;
	margin: 0 auto;
	font-size: 3em;
	font-weight: 200;
	color: #971A23;
}

h3 {
	text-align: center;
	margin-top: .75em;
	margin-bottom: .10em;
	font-weight: 200;
}

p {
	text-align: center;
	margin-top: 0;
}

#textArea {
	display: block;
	font-size: 1.15em;
	width: 25em;
	height: 5em;
	margin: 0 auto;
}

.selector {
	margin-left: 39%;
	font-size: 1.25em;
	font-weight: 200;
	display: inline-block;
	width: 6em;
	background-color: #BFBFC8;
}

button {
	margin-top: 2%;
	margin-left: 2%;
	font-size: 1.25em;
	font-weight: 200;
	display: inline-block;
	width: 6em;
	background-color: #BFBFC8;
	box-shadow: 0px 0px 0px white;
	border: 0px;
}

#emptyDiv {
	text-align: center;
	font-size: 2em;
	padding-top: 1.75em;
}

#or {
	text-align: center;
}
